extends layout 

block content
  #signup 
    h1 Sign Up
    form(action="/signup" method="post")
      input(type="text" name="username" placeholder="username" required)
      input(type="password" name="password" placeholder="password" )
      input(type="password", name='passwordConfirmation' placeholder="password confirmation" )
      button(type="submit") Sign up
      if errors
        each error in errors
          p= error.msg
